# voice - Environment Variables
# Copy this file to .env and fill in your API keys


# Cartesia (STT/TTS)
CARTESIA_API_KEY=sk_car_WrzwYuri5xn9x3p2x2hgun
CARTESIA_VOICE_ID=db6b0ed5-d5d3-463d-ae85-518a07d3c2b4

# Deepgram (STT/TTS)
DEEPGRAM_API_KEY=a32a8c9c0e53221065af5e02872fb12a9f751181


# OpenAI (STT/LLM/TTS/Realtime)
OPENAI_API_KEY=dsd
OPENAI_MODEL=cdms

